.video__iframes {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -50px; /* Применил относительное позиционирование, чтобы элемент оказался поверх границы двух
  секций. Смещение вниз на 50 пикселей как раз дает отступ от подзаголовка на 50 пикселей */
}

